/* FONTFAMILY CUSTOM */
@font-face {
    font-family: 'font-MyriadPro-CondIt';
	src: url('fontFamily/MyriadPro-CondIt.otf');
	
}
@font-face{
	font-family: 'font-MyriaPro-Regular';
	src : url('fontFamily/MYRIADPRO-REGULAR.woff');
}

@font-face{
	font-family: 'font-Opensan-Semibold';
	src: url('fontFamily/OpenSans-SemiBold.ttf');
}
@font-face{
	font-family: 'font-Opensan-light';
	src: url('fontFamily/OpenSans-Light.ttf')
}
@font-face{
	font-family: 'font-MyriadPro-Light';
	src: url('fontFamily/MyriadPro-Light.woff');
}
@font-face{
	font-family: 'font-Opensan-italic';
	src: url('fontFamily/OpenSans-Italic.ttf');
}

/* END FONTFAMILY */


html{
	scroll-behavior: smooth;
	width: 100% !important;
	font-size: 16px;
}

body{
	
	margin: 0;
	padding: 0;
	font-family: "OpenSans";
	width: 100% !important;
}


#navbar-expand-header{
	display: inline-block !important;
	justify-content: center !important;
	border-radius: 0;
	font-family: 'font-MyriaPro-Regular';
	top:13px;
	width: auto;
	margin-top:30px;
}


.jumbotron{
	background-image: url("photo/anhnen.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 790px;
	min-height: 100%;
	top:0px;
	position: relative;
	
}
.header-menu{
	line-height: 1.5;
	top:10px;
	z-index: 999;
	position: absolute;
	position: sticky;

}


#menu-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:auto;
	width: 1118px;
	/* margin-left:201px;
	margin-right:123px; */
}

#menu-wrapper .menu-logo{
	text-align: left;
	width: 50%;
	
}

#menu-wrapper .menu-logo a{

	font-size: 36.4px;
	font-stretch: normal;
	line-height: 1;
	font-weight: bold;
	letter-spacing: normal;
	font-stretch: normal;
	font-style: normal;
	color: #00a8ff;
	text-decoration: none;
	font-family: 'font-MyriadPro-CondIt';
	text-transform: uppercase;
}
#menu-wrapper .menu-item{
	text-align: right;
	width: 50%;
	text-align: center;
	padding-bottom: 15px;


}
#menu-wrapper .menu-item a{
	font-family: 'font-MyriaPro-Regular';
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #ffffff;
	text-decoration: none;
}#menu-wrapper .menu-item a:hover{
	
}
.menu-logo a{
  margin:auto;
  
}
.menu-logo a:hover{
	text-decoration: none;
}

.menu-item a:hover{
	text-decoration: none;
}
.menu-item ul{
	list-style-type: none;
	display: block;
	width: 592px;
	height: 12px;
	line-height: 1.5;
	font-size: 16px;
	margin-bottom:0;
}
.menu-item ul li{
	display: inline-block;
	width: auto;
	padding-left:10px;
	padding-right:10px;
	/* padding-bottom: 50px; */
}


.menu-icon{
	font-size: 22px;
	color: white;
	cursor: pointer;
	float: right;
	display: none;
}

.menu-item ul li.active::after{
	content: '';
	height: 4px;
	margin-top:12px;
    width: 30px;
    background: #00a8ff;
    border-right: 1px white;
	top:8px;
	margin: auto;
	position: relative;
	display: block;
}
.menu-item ul li:hover .menu-item ul li::after{
	border-top: 2px solid #0092ff;
    content: "";
    margin: 0 56px;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    bottom: 0;
	width: 60px;
	height:3px;
    z-index: -1;
}

#header-background .header-title{
	/* min-width: 293px;
	height:33px; */
	font-family: 'Open Sans';
	font-size: 44px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.55;
	letter-spacing: -2.2px;
	text-align: center;
	color: #00a5ff;
	margin: auto;
	margin-bottom:20px;
	margin-top:257px;
	text-transform: uppercase;
	

}
#header-background .header-content{
	max-width: 1118px;
	/* min-height:69px; */
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: -1px;
	text-align: center;
	color: #ffffff;
	margin:auto;
	margin-bottom: 160px;
}

#header-background{
	padding-bottom: 0;
	margin-bottom: 0;
}
.header-button-down{
	margin-bottom: 89px;
}
.button-down{
	width: 50px;
	height:50px;
	margin: auto;
	border-radius: 50%;
	border:1px solid white;
	line-height: 1.5;
	padding:auto;
}
.button-down:hover{
	opacity: 0.6;
	cursor: pointer;
	border:3px solid #00aaff;
}
.button-down:hover .fa-arrow-down{
	color:#00aaff;
	margin-top:12px;
}
.button-down> .fa-arrow-down{
	font-size: 26px;
	margin-top:10px;
	color:white;

	
}

/* Infor layout */
.button-info-wrapper{
	width: 200px;
}
#info{
	padding-bottom:100px;
	padding-top:100px;
}
.info-wrapper{
	height:auto;
	margin: auto;
}
.info-wrapper .wrapper-info-text{
	padding: 0;
	width: 520px;
	padding-bottom: 27px;
	padding-top:27px;	
	margin-right:135px;

}

.wrapper-info-image{
	margin: auto;
	padding:0;
	height: auto;
}
.info-wrapper .wrapper-info-image img{
	max-width:451px;
	max-height:451px;
	border-radius: 50%;
	width:100%;
}
.wrapper-info-text .info-btn-readmore{
	width: 192px;
	height:45px;
	border-radius: 2px;
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 600;
	font-stretch: normal;
	line-height: 2.75;
	letter-spacing: 0.3px;
	text-align: center;
	color: #616161;
	border: 1px solid #616161;
	padding: 0;
}
.wrapper-info-text .info-btn-readmore{
	
}
button.btn-info-readmore:hover{
	opacity: 0.5;
}
.btn-info-readmore .fa-briefcase{
	margin-right:6px;
}


.info-wrapper .info-title{
	font-family: 'Open Sans';
	height:24px;
	font-size: 33px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.09;
	letter-spacing: -0.68px;
	text-align: left;
	color: #222222;
	margin-bottom: 56px;
}
.info-wrapper .info-title>strong{
	font-weight: bold;
}
.wrapper-info-text .info-content{
	margin-bottom:37px;
    font-family: 'Open Sans';
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.39;
	letter-spacing: -0.72px;
	text-align: left;
	color: #6c6c6c;
}
.wrapper-info-text{
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.39;
	letter-spacing: -0.72px;
	text-align: left;
	color: #6c6c6c;
	padding: 4%;
}

.wrapper-info-text .info-text-underline{
	border-bottom:3px solid #0092ff;
}

/* ===========END INFOR SECTION================ */
/* characters Carousel Section */

#characters-section{

	background-image: url('photo/background-characters.png');
	background-size:100%;
	background-repeat: no-repeat;
	padding-top:100px;
	padding-bottom:75px;
	
}

#characters-section .characters-title{
	
}
.characters-title{
	
	font-size: 44px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.55;
	letter-spacing: normal;
	color: #ffffff;
	font-family: 'Open Sans';
	margin:auto;
	text-align: center;

}
.characters-title::before{
	content: '';
	height: 4px;
	display: block;
	margin-top:12px;
    width: 100px;
    background: #00a8ff;
    border-right: 1px white;
	top:60px;
	margin: auto;
	position: relative;
}
.characters-title::after{
	content: '';
	height: 4px;
	display: block;
	margin-top:12px;
    width: 60px;
    background: #00a8ff;
    border-right: 1px white;
	top:42px;
	margin: auto;
	position: relative;
	opacity: 0.6;
}

#character-list-items{
	max-width: 1133px;
	margin: auto;
}
#character-list-items .slick-dots li{
	width: 10px;
	height: 10px;
}
#character-list-items .slick-dots li button{
	background: white !important;
	width: 10px;
	height: 10px;
}
.slick-list{
	margin-bottom: 64px;
}

#character-list-items .characters-item-wrapper{
	margin-top:72px;
	text-align: center;
}
#character-list-items .characters-item-wrapper img{
	width: 100%;
	margin: auto;
	max-width: 220px;
	border-radius: 50%;
}
.characters-item-content .item-title{
	/*  */
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
    font-family: 'Open Sans';
	margin: auto;
	margin-top: 23px;

}
.characters-item-content .item-text{
	max-width: 249px;
	height: 62px;
	margin:auto;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	margin-top: 33px;
	margin-bottom: 95px;

}
.slick-dots{
	bottom: 2px !important;
}
.slick-dots li button:before{
	margin-bottom:64px;
}
#character-list-items .slick-dots .slick-active button{
	background: #0092ff !important;
}

#characters-section .slick-prev, .slick-next{
	display: none !important;
}
#characters-section  .slick-prev:before, .slick-next:before{
	display: none !important;
}

/* =============END CHARACTERR ================*/

/* SCREW SECTION */
#screw-section{
	height:auto;
	margin:70px auto;
}
#screw-section .screw-title{
	height: 31px;
	font-size: 44px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.55;
	letter-spacing: normal;
	color: #222222;
	font-family: 'Open Sans';
	margin:auto;

}
#screw-section .screw-title::before{
	content: '';
	height: 4px;
	display: block;
	margin-top:12px;
    width: 100px;
    background: #00a8ff;
    border-right: 1px white;
	top:50px;
	margin: auto;
	position: relative;
}
#screw-section .screw-title::after{
	content: '';
	height: 4px;
	display: block;
	margin-top:12px;
    width: 60px;
	background: #00a8ff;
	opacity: 0.6;
    border-right: 1px white;
	top:32px;
	margin: auto;
	position: relative;
}


#screw-section .screw-content{
	font-family: 'Open Sans';
	max-width: 1138px;
	height: auto;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: italic;
	letter-spacing: normal;
	text-align: center;
	color: #6c6c6c;
	margin: auto;
	margin-top: 90px;
	margin-bottom: 23px;
	line-height: 1.5;
}
#screw-section .screw-content p{
	text-align: center;



}
.btn-screw-readmore{
	width: 192px;
	height:45px;
	border-radius: 2px;
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 600;
	font-stretch: normal;
	line-height: 2.75;
	letter-spacing: 0.3px;
	text-align: center;
	color: #616161;
	border: 1px solid #616161;
	padding: 0;
}
.btn-screw-readmore>i{
	padding-right:4px;
}
.btn-screw-readmore:hover{
	background-color: #6c757d;
	border-color: #6c757d;
	color: #ffffff;
}


/* THE NOVELLASS carousel section*/
.slider .slider-nav-slick .slick-prev{
	display: none;
}

.slider-nav-slick h3{
	background-color: #5a6f84;
}


#novellas-wrapper{
	background-image: url('photo/img-background3_02.jpg');
	background-size:100%;
	background-repeat: no-repeat;
	padding-bottom: 90px;	
	height: auto;
	min-height: 517px;


	
}

#novellas-wrapper .slick-prev, .slick-next{
	display: none !important;
}

#novellas-wrapper .novellas-title{
	font-family: 'Open Sans';
	height: 31px;
	font-size: 44px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.55;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	margin: auto;
	margin-top: 101px;

}
#novellas-wrapper .novellas-title::before{
	content: '';
	height: 5px;
	width: 99px;
	display: block;
	margin-top:12px;
    width: 100px;
    background: #00a8ff;
    border-right: 1px white;
	top:55px;
	margin: auto;
	position: relative;
}
#novellas-wrapper .novellas-title::after{
	content: '';
	height: 4px;
	display: block;
	margin-top:12px;
    width: 60px;
	background: #00a8ff;
	opacity: 0.6;
    border-right: 1px white;
	top:41px;
	margin: auto;
	position: relative;
}
#novellas-slider-wrapper{
	margin: auto;
	margin-top: 107px;
	padding-bottom: 63px;
	display: flex !important;
	
}

.slider-nav-slick .slider-slick-item{
	justify-content: center;
	align-items: center;
	display: flex !important;
	align-self: center;
	border: solid 1px #3e3e3e;
	background-color: #000000;
	font-family: 'OpenSans';
	font-size: 20.4px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	width: 299px !important;
	min-height: 105px;
	color: #cbcbcb;
	vertical-align: middle;
	margin: auto;
	
}
  .slider-nav-slick .slider-slick-item a{
	  text-decoration: none;
	  font-family: 'Open Sans';
	  color:#cbcbcb;
	  text-align: center;
	  vertical-align: baseline;

  }
/* .slider-nav-slick .slider-slick-item>span:nth-child(2){
	max-width: 251px ;
	height: 14px;
	font-size: 20.4px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.43;
	letter-spacing: normal;
	color: #cbcbcb;
	font-family: 'OpenSans-Light';
}
.slider-nav-slick .slider-slick-item>span{
	width: 251px ;
	height: 14px;
	font-size: 20.4px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.55;
	letter-spacing: normal;
	color: #cbcbcb;
	font-family: 'OpenSans-Light';
} */

#novellas-slider-wrapper .slick-dots li button{
	background: white !important;
	width: 10px;
	height: 10px;
}
#novellas-slider-wrapper .slick-dots .slick-active button {
    width: 11px;
    height: 10px;
    background: #0092ff !important;
}
#novellas-slider-wrapper .slick-dots{
	margin-top: 63px;
}

/* ============ */
/* See our world section */

#ourworld-wrapper{
	height: auto;
	max-width: 1142px;
	margin:auto;
	text-align: center;
	padding: 0;
	padding-top:100px;
	padding-bottom: 111px;
}

#ourworld-wrapper .ourworld-title{
	height: 31px;
	font-size: 44px;
	font-weight: 300;
	font-stretch: normal;
	line-height: 0.55;
	letter-spacing: normal;
	color: #222222;
	font-family: 'Open Sans';
	margin: auto;
	margin-bottom: 91px;
}
#ourworld-wrapper .insight-title{
	font-family: 'Open Sans';
	font-weight: 600;
}
#ourworld-wrapper .ourworld-title::before{
	content: '';
	height: 5px;
	display: block;
	margin-top:12px;
    width: 99px;
	background: #00a8ff;
    border-right: 1px white;
	top:60px;
	margin: auto;
	position: relative;
}
#ourworld-wrapper .ourworld-title::after{
	content: '';
	height: 5px;
	display: block;
	margin-top:12px;
    width: 67px;
	background: #00a8ff;
	opacity: 0.6;
    border-right: 1px white;
	top:42px;
	margin: auto;
	position: relative;
	opacity: 0.6;
}


#ourworld-wrapper .ourworld-content{
	max-width: 1133px;
	height: 65px;
	height: auto;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: italic;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #6c6c6c;
}




/* Container character list */
.characters-list-wrapper{
	max-width: 1133px;
	margin: auto;
	height: auto;
}
.characters-header{
	margin: auto;
	margin-bottom:50px;
	font-family: 'Open Sans';
	padding-left: 13px;
	padding-right: 13px;
	
}


.characters-header .characters-header-left{
	width: 129px;
	height: 13px;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: center;
	color: #222222;

}
.characters-header .characters-header ul{
	width: 129px;
	height: 13px;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	padding: 0;
	
}


/*  */
#characters-list-wrapper{
	display: flex;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	color: #222222;
	padding-left:10px;
	padding-right: 10px;
	margin-bottom:50px;


}

.characters-filter{
width: 40%;
text-align: left;
font-weight: 600;

}
.characters-filter-name{
	width: 60%;
	text-align: right;
}
.characters-filter-name .active{
	color: #222222;

}
.characters-filter-name a:hover,a:focus{
	text-decoration: none;
	color: #222222;

}
.characters-filter-name a{
	color: #6c6c6c;
}
.characters-filter-name a:focus{
	font-weight: 600;
}

.characters-filter-name .name-characters{
	padding-right: 10px;

}
.characters-filter-name .name-artwork{
	border-left: 1px solid black;
	padding-left: 10px;
}

.characters-header .nav > li > a{
	padding: 0;

}
.characters-header .nav > li > a:hover{
	background-color: #ffffff;
}
.characters-header .nav > li > a:focus{
	background-color: #ffffff;

}
.characters-header .nav > li:first-child{
	padding-right: 10px;
}

.characters-header .nav > li a{
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: center;
	color: #6c6c6c;

}
.characters-header .nav > li:last-child{
	padding-left: 10px;
	border-left:2px solid #6c6c6c;

}
.characters-header .nav li a.active{
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 600px;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: center;
	color: #222222;
}

.character-wrapper{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}
.character-wrapper .characters-item{
	width: 263px;
	height: 237px;
	margin: auto;
	margin-bottom: 31px;
}
.character-wrapper .characters-item img{

	width: 100%;height: 100%;
	object-fit: cover;
}

#character-image-wrapper {
	display: flex;
	background-color: red;
	flex-wrap: wrap;
}
#character-image-wrapper{
	width: 263px;
	height: 237px;
}

#image-list-wrapper{
	width: 100%;
}
.image-item-wrapper{
	display: flex;
	flex-wrap: wrap;
}
#image-list-wrapper .image-item{
	width: 25%;
	padding: 15.5px;
	position: relative;
}
#image-list-wrapper .image-item .middle{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 164px;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	cursor: pointer;
}

#image-list-wrapper .image-item .middle:hover .middle-text{
	color:white;
	background-color: #f1c482;
	opacity: 1;
}
#image-list-wrapper .image-item:hover{
	opacity: 0.6;
}
#image-list-wrapper .image-item:hover .middle{
	opacity: 1;
}
.middle-text{
	font-size: 16px;
	border-radius: 50%;
	border:1px solid #fcac45;
	color: #fcac45;
	padding:6px;

}

#image-list-wrapper .image-item>img{
	width: 100%;
	height: 100%;

	max-width: 263px;
	height: 237px;
	cursor: pointer;
	transition: 0.3s;
}
#image-list-wrapper .image-item>img:hover{
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	padding-bottom: 100px;
	left: 10%;
	top: 20%;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
	margin: auto auto;
	display: block;
	width: 100%;
	max-width: 600px;
}
/* Caption of Modal Image */
#caption-image {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }
  #modal-display{
	  width: 100%;
	  height:100%;
  }
  /* Add Animation */
.modal-content, #caption {  
	-webkit-animation-name: zoom;
	animation-name: zoom;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
  }
  
  @-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close-modal {
	position: absolute;
	top: 50px;
	right: 26%;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
  
/* ===================== */
/* BAZZAR SECTION */

#bazzar-section{
	height: auto;
	background-image: url('photo/img-background4_02.jpg');
	background-size: 100%  100%;
	background-repeat: no-repeat;
	margin-top: 85px;
	margin-bottom: 0px;
	padding-bottom: 126px;
	padding-top: 101px;
}
.bazzar-wrapper{
	margin: auto;
	text-align: center;
	color:white;
	max-width: 944px;	
}
.bazzar-wrapper  .bazzar-title{
  font-family: 'Open Sans';
  font-size: 44px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.55;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
}
.bazzar-wrapper .bazzar-title::before{
	content: '';
	height: 4px;
	display: block;
	margin-top:12px;
    width: 100px;
    background: #00a8ff;
    border-right: 1px white;
	top:60px;
	margin: auto;
	position: relative;
}
.bazzar-wrapper .bazzar-title::after{
	content: '';
	height: 4px;
	display: block;
	margin-top:12px;
    width: 60px;
	background: #00a8ff;
	opacity: 0.6;
    border-right: 1px white;
	top:42px;
	margin: auto;
	position: relative;
}
.bazzar-wrapper .bazzar-text-content {
	margin-top:80px;



}
.bazzar-wrapper .bazzar-text-content p{
	font-weight: normal;
	font-stretch: normal;
	font-style: italic;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #f0f0f0;
	font-family: 'Open Sans';
}

.bazzar-text-center{
	margin:46px 278px 126px 278px;
}
/* ===============end ========== */


/* CONTACT SECTION */
#contact-section{
	padding-top:100px;
	padding-bottom:70px;
}
#contact-wrapper{
	max-width: 751px;
	margin:auto;
}
#contact-section .contact-text-title{


    font-family: 'Open Sans';

	max-width: 568px;
	height: 31px;
	height: auto;
	font-size: 44px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.55;
	letter-spacing: normal;
	text-align: center;
	color: #222222;
	margin:auto;
}

.contact-text-title .insight-title{
	font-size: 44px;
	font-weight: 600;
	line-height: 0.55;
	letter-spacing: normal;
	color: #222222;
	font-family: 'font-Opensan-Semibold';

}

#contact-section .contact-text-title::before{
	content: '';
	height: 4px;
	display: block;
	margin-top:12px;
    width: 100px;
    background: #00a8ff;
    border-right: 1px white;
	top:60px;
	margin: auto;
	position: relative;
}
#contact-section .contact-text-title::after{
	content: '';
	height: 4px;
	display: block;
	margin-top:12px;
    width: 60px;
    background: #00a8ff;
    border-right: 1px white;
	top:42px;
	opacity: 0.6;
	margin: auto;
	position: relative;
}

.contact-text-content{


    font-family: 'Open Sans';

	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: italic;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #808080;
	margin-top: 91px;
	margin-bottom:95px;

}

.contact-form  .col{
	/* padding:0; */
}
.contact-form form label{
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #636363;
}
.contact-form form label .form-required-sign{
	color: #db0000;
}

.contact-form form input{
	height: 40px;
	margin-bottom:30px;
	
}
.contact-form form textarea{
	margin-bottom:30px;
	height: 163px;

}

#btn-send{
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	width: 165px;
	height: 40px;
	background-color: #00a8ff;
	border: none;
	border-radius: 0;
}


/* =============== END CONTACT=============== */

/* FOOTER SECTION */

footer {	
	background-color: #222222;
	font-family:'Open Sans';
	color:#b2b2b2;
	display: flex;
	display: flex;
    align-items: center;
	justify-content: center;
	padding:20px;

}
#footer-wrapper{
	padding-left: 133px;
	padding-right: 179px;
	text-align: center;
	display: flex;
    align-items: center;
	justify-content: center;
	font-size: 12px;
	letter-spacing: 0.3;
	line-height: 4.5;
	
}
#footer-wrapper .footer-text{
	text-align: left;
	width: 50%;
}
#footer-wrapper .footer-icon{
	text-align: right;
	width: 50%;
}
#footer-wrapper .footer-icon img{ 
	margin-left:13px;

}


footer  .footer-insight{
	font-family: 'font-Opensan-Semibold';
	font-weight: bold;
}

footer .footer-wrapper-img{
	float: right;
}
footer .footer-wrapper-img img{
}
#button-to-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 999;
	width: 50px;
	height:50px;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #f1c482;
	color: white;
	cursor: pointer;
	border-radius: 50%;
  }
  
  #button-to-top:hover {
	background-color: #555;
  }


.slick-dots li button::before{
	display: none;
}

/* BEGIN RESPONSIVE */
@media only screen and (max-width:1440px){
	#characters-section{
		background-size: auto;

	}
}
@media only screen and (max-width:1320px){

	#footer-wrapper{
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media only screen and (max-width:1050px){
	#footer-wrapper{
		display: contents;
	}
	#footer-wrapper .footer-text{
		text-align: center;
		width: 100%;
	}
	#footer-wrapper .footer-icon{
		text-align: center;
		width: 100%;
	}
}
@media only screen and (min-width:1220px){
	/* #menu-wrapper .menu-item ul{
		display: block;
	
	} */
	#menu-wrapper .menu-item ul{
		display: block !important;
	}
}
@media only screen and (max-width:1220px){
	
	#menu-wrapper{
		display: contents;
	}

	#menu-wrapper .menu-logo{
		width: 100%;
		padding-right: 20px;
		text-align: center;
		
	}
	#menu-wrapper .menu-item{
		width:100%;
		padding: 0;
	}
	#menu-wrapper .menu-item ul{
		/* display: none; */
		padding: 0;
		height: auto;
		margin: auto;
		width: 100%;
		background-color: #00000057;
	}


	#footer-wrapper .footer-text{
		padding-left: 4%;
		padding-right: 4%;
		text-align: center;
		margin-bottom: 10px;
	}
	.character-wrapper .characters-item{
		width: 30%;
		margin:auto;
		margin-bottom:31px;

	}
	
	.menu-icon{
		display: block;
	}
	

	#novellas-wrapper{
		background-size: auto;
	}
	
	
	.menu-item ul li{
		display: block;
		width: 100%;
		text-align: center;
		padding:16px;
	}
	.menu-item ul li a{
		display: block;
		width: 100%;
		text-align: center;
		color:#4288e9;
	}
	.menu-item ul li:hover{
		background-color: #0083f5;
	
	}
}

@media only screen and (max-width:1200px){
	.info-wrapper .wrapper-info-text{
		width: 100%;
		margin: auto;
		margin-right:0;
	}
	.info-wrapper .info-title{
		text-align: center;
	}
	.info-wrapper .wrapper-info-image{
		width: 80%;
		text-align: center;
		margin-top:50px;
	}
	.menu-logo{
		width: 100%;
		padding-right: 20px;
		
	}
	
}
@media only screen and (max-width: 1025px){
	/* .info-wrapper .wrapper-info-text{
		width: 100%;
		margin: auto;
	}
	.info-wrapper .info-title{
		text-align: center;
	}
	.info-wrapper .wrapper-info-image{
		width: 100%;
		text-align: center;
	}
	.menu-logo{
		width: 100%;
		padding-right: 20px;
		
	} */

	
	.menu-item{
		width:100%;
	}
	.menu-item ul{
		display: none;
		padding: 0;
		height: auto;
	}
	.menu-item ul li{
		display: block;
		width: 100%;
		text-align: center;
		padding:16px;
	}
	.menu-item ul li a{
		display: block;
		width: 100%;
		text-align: center;
		color:#4288e9;
	}
	.menu-item ul li:hover{
		background-color: #edeff1;
	
	}
	.wrapper-info-image{
		width: 100%;
	}
	.wrapper-info-image img {
		width: 40%;
	}
	.button-info-wrapper{
		margin: auto;
	}
	#image-list-wrapper .image-item{
		width: 33.33%;
		padding: 10px;
	}
}
@media only screen and (max-width: 800px){
	#image-list-wrapper .image-item{
		width: 50%;
		padding: 10px;
	}
	.character-wrapper .characters-item{
		width: 46%;
		margin:auto;
		margin-bottom:31px;

	}
}

@media only screen and (max-width: 800px){
	#screw-section .screw-content{
		width: 90%;
	}
	/* .wrapper-info-text .info-title{
		font-size: 24px;
	} */
	.info-wrapper .wrapper-info-text{
		padding:0px 10px;
	}
	.ourworld-wrapper .ourworld-title::before{
		top:40px;
	}
	footer .footer-right{
		margin-top:20px;
		text-align: center;
		justify-content: center;
	}
	footer .footer-left{
		text-align: center;
	}
	#characters-section{
		/* padding: 10%; */
	}
}

@media only screen and (max-width: 850px){
	#screw-section .screw-content{
		width: 90%;
	}
	#characters-section{
		background-size: auto;

	}
	.contact-form form{
		margin-top:60px;
	}
	.contact-text-content{
		margin:auto;
		margin-top:60px;
	}
	.footer-wrapper{
		line-height: 1.5;
		padding: 10px;
		text-align: center;
	}
	.footer-wrapper-img{
		text-align: center;
		margin: auto;
	}
	footer .footer-wrapper-img{
		float: none;
	}
	#novellas-wrapper{
		background-size: auto;
	}
}

@media only screen and (max-width: 592px){

	#characters-list-wrapper{
		display: contents;
	}
	#characters-list-wrapper .characters-filter{
		width: 100%;
		text-align: center;

	}
	#characters-list-wrapper .characters-filter-name{
		width: 100%;
		text-align: center;
		margin-bottom:50px;
	}

	#contact-section .contact-text-title::before{
		top:120px;
	}
	#contact-section .contact-text-title{
		line-height: 1;
	}
}
@media only screen and (max-width: 500px){
	#image-list-wrapper .image-item{
		width: 100%;
		padding: 10px;
	}
	.character-wrapper .characters-item{
		width: 100%;
		margin:auto;
		/* height: auto; */
		margin-bottom:31px;

	}
}

@media only screen and (max-width: 400px){
	#image-list-wrapper .image-item{
		width: 100%;
		padding: 10px;
	}
	.info-wrapper .info-title{
		line-height: 1.5;
		margin-bottom:75px;
	}
}

@media only screen and (max-width: 376px){
	.info-wrapper .info-title{
		line-height: 1.5;
		margin-bottom:75px;
	}
}


/* END RESPONSIVE */
